<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title></title>
    </head>
    <body>
        <h1>This is the admin dashboard</h1>

    </body>
</html>