<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title></title>
    </head>
    <body>
    <div class="container flex-column justify-center text-center">
        <h3>Home Page</h3>
        <a href="/v1/signup/tutor" id="tutor">Tutor Signup</a>
        <a href="/v1/login/tutor" id="tutor">Tutor Login</a>
        <a href="/v1/signup/student" id="tutor">Student Signup</a>
        <a href="/v1/login/student" id="tutor">Student Login</a>
        <a href="/v1/docs" id="docs">See The Doc</a>
    </div>
    </body>
</html>