<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title></title>
    </head>
    <body>
        <div class="container flex-column justify-center">
            <form action='/v1/login/tutor' method="POST" class="text-center">
                <h1>Login here</h1>
                <input type="email" placeholder="email" name="email"/><br/>
                <input type="password" placeholder="password" name="password"/><br/>
                <input type="text" placeholder="are you an admin" name="isAdmin"><br/>
                <input type="submit" value="Login" class="btn btn-lg"/>
            </form>
        </div>
    </body>
</html>