<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title></title>
    </head>
    <body>
    <div class="container flex-column justify-center">
        <form action='/v1/signup/tutor' method="POST" class="text-center">
            <h1>sign up here</h1>
            <input type="text" placeholder="Name" name="name"/><br/>
            <input type="email" placeholder="Email" name="email"/><br/>
            <input type="password" placeholder="Password" name="password"/><br/>
            <input type="text" placeholder="adminCode" name="education"/><br/>
            <input type="submit" value="Sign Up" class="btn btn-lg"/>
        </form>
    </div>
    </body>
</html>