<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Student dashboard</title>
    </head>
    <body>
        
    <div class="container flex-row justify-content">

        </div>
            <div class="flex-basis">
            <h1>Student dashboard</h1>
            <h1>You are welcome {{name}}</h1>
        </div>

        
    </div>
    </body>
</html>